<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/images/android-chrome-512x512.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill Up</title>
    <link rel="stylesheet" href="/dashboard.css">
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <!-- <div class="logo">SkillUp</div> -->
        <ul class="nav-links">
            <li><a href="/dashboard">Home</a></li>
            <li><a href="#games">Games</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/homePage">SignOut</a></li>
            <h3 id="loggedinuser"><%= loggedinuser %></h3>
        </ul>
    </nav>

    <div id="container">
        <div class="outbox">
            <div class="site" id="updiv">
                <div class="letters">S</div>
                <div class="letters">K</div>
                <div class="letters">I</div>
                <div class="letters">L</div>
                <div class="letters">L</div>
            </div>
        </div>
        <div class="outbox">
            <div class="site" id="downdiv">
                <div class="letters">U</div>
                <div class="letters">P</div>
            </div>
        </div>
    </div>

    <!-- About SkillUp -->
    <div class="aboutdiv">
        <h2>SkillUp</h2>
        <div>SkillUp has the best free online games selection and offers the most fun experience to play alone or with
            friends.</div>
        <div>We offer instant play to all our games without downloads, login, popups or other distractions.</div>
        <div>Our games are playable on desktop, tablet and mobile so you can enjoy them at home.</div>
        <div>Our goal is to create the ultimate online playground. Free and open to all.</div>
    </div>

    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2024 SkillUp. All rights reserved.</p>
            <ul class="footer-links">
                <li><a href="#privacy">Privacy Policy</a></li>
                <li><a href="#terms">Terms of Service</a></li>
                <li><a href="#support">Support</a></li>
            </ul>
        </div>
    </footer>

    <script src="/script.js"></script>
</body>

</html>