<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games - Skill Up</title>
    <link rel="shortcut icon" href="/images/android-chrome-512x512.png" type="image/x-icon">
    <link rel="stylesheet" href="/games.css">
</head>

<body>
    <header>
        <div class="logo"><img src="/images/SkillUpLogo.png" alt="logoimg"></div>
        <div class="pages">
            <div class="navbar">
                <a href="/dashboard" class="underline">Dashboard</a>
                <a href="/about" class="underline">About</a>
                <a href="/contact" class="underline">Contact Us</a>
                <a href="/homePage" class="underline">SignOut</a>
            </div>
            <div class="loggedinuser">
                <h3 id="loggedinuser"><%= loggedinuser %></h3>
            </div>
        </div>
    </header>

    <div class="games">
        <h1>Game Section</h1>
    </div>
    <div class="gamescontainer">
        <div class="gametype">
            <h2>Child</h2>
            <div class="game-section">
                <div class="game-card">
                    <img src="https://static.gamezop.com/UYiznUAya/cover.jpg" alt="blazingblade">
                    <h3>Blazing Blade</h3>
                    <a href="https://zv1y2i8p.play.gamezop.com/g/UYiznUAya" target="_blank">Explore</a>
                </div>

                <div class="game-card">
                    <img src="https://static.gamezop.com/B1PfyhpQ5Ar/cover.jpg" alt="shapesmash">
                    <h3>Shape Smash</h3>
                    <a href="https://zv1y2i8p.play.gamezop.com/g/B1PfyhpQ5Ar">Explore</a>
                </div>

                <div class="game-card">
                    <img src="https://www.htmlgames.com/uploaded/game/thumb/bubblebuster300200.webp" alt="BubbleBuster">
                    <h3>BubbleBuster</h3>
                    <a href="https://cdn.htmlgames.com/BubbleBuster/" target="_blank">Explore</a>
                </div>

                <div class="game-card">
                    <img src="https://imgs.crazygames.com/brain-teaser-cover?auto=format%2Ccompress&q=75&cs=strip&ch=DPR&w=410.5" alt="dailyqueen">
                    <h3>Brain Teaser</h3>
                    <a href="https://www.crazygames.com/game/brain-teaser" target="_blank">Explore</a>
                </div>
            </div>
        </div>
        <div class="gametype">
            <h2>Adult</h2>
            <div class="game-section">
                <div class="game-card">
                    <img src="https://imgs.crazygames.com/hazmob-fps-online-shooter_16x9/20240607181337/hazmob-fps-online-shooter_16x9-cover?auto=format%2Ccompress&q=75&cs=strip&ch=DPR&w=410.5" alt="Adult Games">
                    <h3>Hazmop FPS</h3>
                    <a href="https://www.crazygames.com/game/hazmob-fps-online-shooter" target="_blank">Explore</a>
                </div>

                <div class="game-card">
                    <img src="https://imgs.crazygames.com/worldguessr_16x9/20241018082520/worldguessr_16x9-cover?auto=format%2Ccompress&q=75&cs=strip&ch=DPR&w=410.5" alt="Children Games">
                    <h3>World Guessr</h3>
                    <a href="https://www.crazygames.com/game/worldguessr">Explore</a>
                </div>

                <div class="game-card">
                    <img src="https://imgs.crazygames.com/skillwarz_16x9/20241119085228/skillwarz_16x9-cover?auto=format%2Ccompress&q=75&cs=strip&ch=DPR&w=410.5" alt="Adult Games">
                    <h3>Skill Warz</h3>
                    <a href="https://www.crazygames.com/game/skillwarz" target="_blank">Explore</a>
                </div>

                <div class="game-card">
                    <img src="https://www.htmlgames.com/uploaded/game/thumb/daily-queens-300x200.webp" alt="dailyqueen">
                    <h3>Daily Queens</h3>
                    <a href="https://cdn.htmlgames.com/DailyQueens/" target="_blank">Explore</a>
                </div>

                <div class="game-card">
                    <img src="https://imgs.crazygames.com/rally-racer-dirt_16x9/20240514035838/rally-racer-dirt_16x9-cover?auto=format%2Ccompress&q=75&cs=strip&ch=DPR&w=410.5" alt="Adult Games">
                    <h3>Rally Racer Dirt</h3>
                    <a href="https://www.crazygames.com/game/rally-racer-dirt" target="_blank">Explore</a>
                </div>

                <div class="game-card">
                    <img src="https://imgs.crazygames.com/games/starblastio/cover_16x9-1732723943512.png?auto=format%2Ccompress&q=75&cs=strip&ch=DPR&w=410.5" alt="Adult Games">
                    <h3>Star Blast</h3>
                    <a href="https://www.crazygames.com/game/starblastio" target="_blank">Explore</a>
                </div>

                <div class="game-card">
                    <img src="https://imgs.crazygames.com/dead-land-survival_16x9/20230926102002/dead-land-survival_16x9-cover?auto=format%2Ccompress&q=75&cs=strip&ch=DPR&w=410.5" alt="Adult Games">
                    <h3>Dead Land Survival</h3>
                    <a href="https://www.crazygames.com/game/dead-land-survival" target="_blank">Explore</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>